@media only screen and (min-width: 1008px) {
  .nav-wrap {
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    z-index: 1000;
    position: fixed;
    opacity: 1;
    top: 0;
    height: 77px;
    width: 100vw;
  }

  .header {
    padding-left: 600px;
    z-index: 1000;
    position: fixed;
    opacity: 1;
    top: 0;
    height: 100px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header-logo1 {
    padding-top: 7px;
    height: 1px;
    width: 200px;
  }
  .header-logo1 img {
    transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    opacity: 0;
    height: 70px;
    width: 140px;
  }

  .header-links {
    font-family: $font-primary;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .links {
    padding-left: 90px;
  }

  .header-links a {
    width: auto;
    font-family: $font-primary;
    font-weight: 300;
    color: white !important;
    margin-top: 24px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    opacity: 0.5;

    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
  }

  /* mouse over link */
  a:hover {
    opacity: 1;
  }
}
