@media only screen and (min-width: 1263px) {
  .header {
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    position: fixed;
    opacity: 1;
    top: 0;
    height: 77px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1000;
  }

  .header-logo {
    padding-top: 7px;
    height: 1px;
    width: 200px;
  }

  .header-logo img {
    transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    opacity: 0;
    height: 70px;
    width: 140px;
  }

  .header-links {
    font-family: $font-primary;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: 1000;
  }

  .links {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .header-links a {
    width: auto;
    font-family: $font-primary;
    font-weight: 300;
    color: white !important;
    margin-top: 24px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    opacity: 0.5;

    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
  }

  /* mouse over link */
  a:hover {
    opacity: 1;
  }

  .mobile-wrapper {
    display: none;
  }
}

// Medium Screen
@media only screen and (min-width: 641px) and (max-width: 1263px) {
}

// Mobile Screen
@media only screen and (max-width: 640px) {
  .header {
    display: none;
  }

  .mobile {
    z-index: 500;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    display: inline-block;
  }

  .mobile .mobile-header {
    background-color: black;
    color: #ffffff;
    padding: 10px;
  }

  .line {
    width: 30px;
    height: 2px;
    margin: 10px 0;
    background-color: #ffffff;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }

  .mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  /* MOBILE ONE */

  .mobile-one {
    background: transparent;
  }

  .mobile-nav {
    padding-top: 70px;
    position: fixed;
  }

  .mobile-one .mobile-nav {
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    transform: translate(-100%, 0);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .mobile-one .mobile-nav li a {
    color: #ffffff;
    display: block;
    padding: 15px 20px;
  }
  .mobile-one .mobile-nav li a img {
    width: 100%;
  }

  .mobile-one .mobile-nav li a:hover {
    text-decoration: none;
    background-color: #23252b;
    color: #ffffff;
    border-left: 3px solid white;
  }
}
