.hero {
  height: 720px;
  width: 100vw;
  display: block;
}

.hero-logo {
  position: absolute;
  height: 720px;
  width: 100vw;
  text-align: center;
<<<<<<< HEAD
  padding: 180px 100px 10px 100px;
=======
  padding: 250px 100px 100px 100px;
>>>>>>> 9f8639ff5c2146d7d2958116111b07be3fa1044d
}

.hero-logo img {
  position: relative;
  height: 200px;
  text-align: center;
}

.hero-gif {
  position: relative;
  text-align: center;
<<<<<<< HEAD
  padding-top: 60px;
=======
>>>>>>> 9f8639ff5c2146d7d2958116111b07be3fa1044d
}

.hero-gif img {
  height: 33px;
  width: 33px;
}
