@media only screen and (min-width: 1263px) {
  .hero {
    height: 790px;
    width: 100vw;
    display: block;
  }

  .hero-logo {
    position: absolute;
    height: 720px;
    width: 100vw;
    text-align: center;
    padding: 180px 100px 10px 100px;
  }

  .hero-logo img {
    margin-top: 111px;
    position: relative;
    height: 222px;
    text-align: center;
  }

  .hero-gif {
    position: relative;
    text-align: center;
    padding-top: 595px;
  }

  .hero-gif img {
    height: 200px;
    width: 220px;
  }
}

// Medium Screen
@media only screen and (min-width: 641px) and (max-width: 1263px) {
  .hero {
    height: 790px;
    width: 100vw;
    display: block;
  }

  .hero-logo {
    position: absolute;
    height: 720px;
    width: 100vw;
    text-align: center;
    padding: 180px 100px 10px 100px;
  }

  .hero-logo img {
    margin-top: 55px;
    position: relative;
    height: 222px;
    text-align: center;
  }

  .hero-gif {
    position: relative;
    text-align: center;
    padding-top: 525px;
  }

  .hero-gif img {
    height: 200px;
    width: 220px;
  }
}

// Mobile Screen
@media only screen and (max-width: 640px) {
  .hero {
    display: none;
  }

  .mobile-hero {
    height: auto;
    width: 100vw;
    top: 39%;
    position: absolute;
  }

  .mobile-hero-grid {
    height: 100vh;
    width: 100vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-hero-logo img {
    width: 100%;
    position: relative;
  }

  .mobile-hero-scroll img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 200px;
    height: 200px;
  }
}
