@media only screen and (min-width: 1263px) {
  .hero {
    width: 100vw;
    display: block;
  }

  .hero-logo {
    display: block;
    position: relative;
    width: 100vw;
    text-align: center;
    padding: 12% 7% 1% 7%;
  }

  #hero-logo-wbt {
    margin-top: 5%;
    position: relative;
    height: 40%;
    text-align: center;
  }

  .arrow-scroll {
    text-align: center;
    height: 40%;
    width: 20%;
  }
}

// Medium Screen
@media only screen and (min-width: 641px) and (max-width: 1263px) {
  .hero {
    width: 100vw;
    display: block;
  }

  .hero-logo {
    display: block;
    position: relative;
    width: 100vw;
    text-align: center;
    padding: 30% 7% 1% 7%;
  }

  #hero-logo-wbt {
    margin-top: 5%;
    position: relative;
    height: 40%;
    text-align: center;
  }

  .arrow-scroll {
    text-align: center;
    height: 40%;
    width: 40%;
  }
}

// Mobile Screen
@media only screen and (max-width: 640px) {
  .hero {
    display: none;
  }

  .mobile-hero {
    display: block;
    height: auto;
    width: 100vw;
    top: 39%;
    position: absolute;
  }

  .mobile-hero-grid {
    height: 100%;
    width: 100vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-hero-logo img {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .mobile-hero-scroll {
    display: block;
    margin: 0 auto;
    position: relative;
    height: 200px;
    width: 200px;
    text-align: center;
  }

  .mobile-hero-scroll img {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 20%;
    width: 200px;
    height: 200px;
  }
}
