@media screen and (max-width: 600px) {
  .magictext {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .magictext .hardcoded {
    font-weight: 200;
    margin: 0.4em 0;
  }
  .hardcoded {
    color: white;
    font-size: 2em;
  }

  .txt-rotate span {
    color: white;
    font-family: $font-magictext;
  }

  .magicspace {
    padding-top: 10px;
  }
}
