@import "/variables";
@import "/header-site";
@import "/hero";
@import "/techno";
@import "/spacer";
@import "/team";
@import "/portfolio";
@import "/header-mobile";
<<<<<<< HEAD
=======
@import "/form";
>>>>>>> 9f8639ff5c2146d7d2958116111b07be3fa1044d

body {
  background: url("/assets/space1.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
<<<<<<< HEAD
  
=======
>>>>>>> 9f8639ff5c2146d7d2958116111b07be3fa1044d
}

.universal {
  height: 100vh;
  width: 100vw;
}
<<<<<<< HEAD

.magictext .hardcoded{
  font-weight: 200;
  margin: 0.4em 0;
}
.magictext { font-size: 3.5em }
.hardcoded {
  color:white;
  font-size: 2em;
  
}

.txt-rotate span {
  
  color: white;
  font-family: $font-magictext;
  
}

.magicspace{
     padding-top: 10px;
    
     
}
=======
>>>>>>> 9f8639ff5c2146d7d2958116111b07be3fa1044d
