@import "/variables";
@import "/header-site";
@import "/hero";
@import "/magic-text";
@import "/techno";
@import "/spacer";
@import "/team";
@import "/portfolio";
@import "/header-mobile";
@import "/form";
@import "/cards";
@import "/us";

*:focus {
  outline: none;
}
@media screen and (max-width: 600px) {
  html {
    width: 100vh;
    height: 100vh;
  }

  .techno-box {
    display: none;
  }

  .hero-logo {
    padding-left: 10px;
    padding-top: 20px;
  }

  body {
    background: url("/assets/earth.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .header-links {
    display: none;
  }

  .universal {
    height: 100vh;
    width: 100vw;
  }
}

@media screen and (min-width: 800px) {
  body {
    margin: 15px auto;
    background: url("/assets/space.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .col-xs-4 {
    display: none;
  }
  .col-xs-41 {
    display: none;
  }
  .universal {
    height: 100vh;
    width: 100vw;
  }
}
