@media screen and (max-width: 600px) {
  .team {
    width: 100vw;
    height: auto;
    background-color: #ffffff;
    font-family: $font-primary;
    padding: 22px;
  }

  .team-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .profile {
    text-align: center;
  }

  .profile img {
    height: 111px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
  }
  .profile h4 {
    font-weight: 300;
    margin-top: 5px;
  }

  .profile p {
    color: gray;
    font-weight: 200;
  }
}

.team {
  width: 100vw;
  height: auto;
  background-color: #ffffff;
  font-family: $font-primary;
  padding: 44px;
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile {
  text-align: center;
}
.profile img {
  height: 222px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.profile h4 {
  font-weight: 300;
  margin-top: 10px;
}

.profile p {
  color: gray;
  font-weight: 200;
}
