@media only screen and (min-width: 1263px) {
  .team {
    width: 100vw;
    height: auto;
    background-color: #ffffff;
    font-family: $font-primary;
    padding: 44px;
  }

  .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .profile {
    text-align: center;
  }
  .profile img {
    height: 333px;
    border-radius: 3px;
    border-bottom: 9px solid rgb(22, 22, 22);
  }

  .profile h4 {
    font-weight: 300;
    margin-top: 10px;
    font-size: 2.3rem;
  }

  .profile p {
    color: gray;
    font-size: 1.2rem;
    font-weight: 200;
  }
}

// Medium Screen
@media only screen and (min-width: 641px) and (max-width: 1263px) {
}

// Mobile Screen
@media only screen and (max-width: 640px) {
  .team {
    display: none;
  }
}
