/* Included color classes.. 
	.red 
	.blue 
	.yellow 
*/
.fig-box {
  display: flex;
  justify-content: center;
}

figure.fig {
  position: relative;
  overflow: hidden;
  margin: 10px 1%;
  margin-top: 30px;
  min-width: 220px;
  max-width: 310px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.fig * {
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

figure.fig img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.4;
}

figure.fig figname {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.fig h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  border-radius: 30px;
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.fig h2 span {
  font-weight: 800;
}

figure.fig:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background: #ffffff;
  position: absolute;
  transition: all 0.3s ease-in-out;
  transform: rotate(110deg) translateY(-50%);
}

figure.fig a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.fig.blue {
  background: #123851;
}

figure.fig.blue h2 {
  background: #0a212f;
}

figure.fig.red {
  background: #581a14;
}

figure.fig.red h2 {
  background: #36100c;
}

figure.fig:hover img {
  opacity: 1;
  transform: scale(1.1);
}

figure.fig:hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate (-10deg) translate(-150%, -50%);
}

figure.fig:hover:before {
  transform: rotate(110deg) translateY(-150%);
}
